<!DOCTYPE html>
<html  lang="es"

       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layouts/_mainLayout">
<div layout:fragment="content" class="flex flex-1 justify-center py-10 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-lg">
        <div class="text-center">
            <h2 class="text-3xl font-bold tracking-tight text-[var(--text-primary)] sm:text-4xl">Editar Usuario</h2>
            <p class="mt-4 text-lg leading-6 text-[var(--text-secondary)]">Cambia los datos del usuario</p>
        </div>
        <form th:action="@{/usuarioControl/save}" method="post" th:object="${usuario}" class="mt-8 space-y-6 bg-white p-8 shadow-sm sm:rounded-2xl">
            <input type="hidden" th:field="*{id}">
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="nombre">Nombre</label>
                <div class="mt-1">
                    <input th:field="*{nombre}" class="form-input block w-full rounded-xl border-secondary-100 bg-secondary-50 placeholder:text-[var(--text-secondary)] focus:border-primary-500 focus:ring-primary-500 sm:text-sm py-3 px-4" id="nombre" placeholder="Ingrese el nombre" required="" type="text"/>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="email">Email</label>
                <div class="mt-1">
                    <input th:field="*{email}" class="form-input block w-full rounded-xl border-secondary-100 bg-secondary-50 placeholder:text-[var(--text-secondary)] focus:border-primary-500 focus:ring-primary-500 sm:text-sm py-3 px-4" id="email" placeholder="Ingrese su email" required="" type="email"/>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="idRol">Rol</label>
                <div class="mt-1">
                    <select class="form-select block w-full rounded-xl border-secondary-100 bg-secondary-50 text-[var(--text-secondary)] focus:border-primary-500 focus:ring-primary-500 sm:text-sm py-3 px-4" name="idRol" id="idRol" required="">
                        <option>Selecciona Rol</option>
                        <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nombre}" th:selected="${rol.id} == ${usuario.idRol}"></option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row-reverse gap-4 pt-4">
                <button class="flex w-full justify-center rounded-full border border-transparent bg-[var(--primary-color)] py-3 px-4 text-sm font-bold text-white shadow-sm hover:bg-green-600 transition-colors focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2" type="submit">
                    Guardar
                </button>
                <a th:href="@{/usuarioControl}" class="flex w-full justify-center rounded-full border border-secondary-100 bg-gray-100 text-slate-950 py-3 px-4 text-sm font-bold shadow-sm hover:bg-red-500 hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2" type="button">
                    Cancelar
                </a>
            </div>
        </form>
    </div>
</div>