<!DOCTYPE html>
<html  lang="es"

       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layouts/_mainLayout">
<div layout:fragment="content" class="flex flex-1 justify-center py-10 px-4 sm:px-6 lg:px-8">
    <div class="w-full max-w-lg">
        <div class="text-center">
            <h2 class="text-3xl font-bold tracking-tight text-[var(--text-primary)] sm:text-4xl">Editar Usuario</h2>
            <p class="mt-4 text-lg leading-6 text-[var(--text-secondary)]">Cambia los datos del usuario</p>
        </div>
        <form th:action="@{/usuarioControl/save}" method="post" th:object="${usuario}" class="mt-8 space-y-6 bg-white p-8 shadow-sm sm:rounded-2xl" enctype="multipart/form-data">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" name="authCheck" value="authEdit">
            <input type="hidden" th:field="*{password}">
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="nombre">Nombre</label>
                <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="text-red-400"></span>
                <div class="mt-1">
                    <input th:field="*{nombre}" class="form-input block w-full rounded-xl border-secondary-100 bg-secondary-50 placeholder:text-[var(--text-secondary)] focus:border-primary-500 focus:ring-primary-500 sm:text-sm py-3 px-4" id="nombre" placeholder="Ingrese el nombre" required="" type="text"/>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="email">Email</label>
                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-red-400"></span>
                <div class="mt-1">
                    <input th:field="*{email}" class="form-input block w-full rounded-xl border-secondary-100 bg-secondary-50 placeholder:text-[var(--text-secondary)] focus:border-primary-500 focus:ring-primary-500 sm:text-sm py-3 px-4" id="email" placeholder="Ingrese su email" required="" type="email"/>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="img">Foto de Perfil</label>
                <span th:if="${#fields.hasErrors('imgUsuario')}" th:errors="*{imgUsuario}" class="text-red-400"></span>
                <div class="mt-1 flex items-center gap-4">
                        <span class="inline-block h-16 w-16 overflow-hidden rounded-full bg-gray-300)]">
                            <img th:if="${usuario.imgUsuario != null}" th:src="@{'/usuarioControl/imagen/' + ${usuario.id}}" id="preview" src="#" alt="Vista previa de la imagen" style="max-width: 64px; max-height: 64px;">
                        </span>
                    <div class="flex-1">
                        <label class="group relative cursor-pointer rounded-md border border-dashed border-gray-300 bg-neutral-300 px-3 py-2 text-sm font-medium text-[var(--text-secondary)] hover:border-[var(--brand-color)] hover:text-[var(--brand-color)]">
                            <span>Subir Foto</span>
                            <input    class="sr-only" id="img" name="img" type="file" accept="image/*"/>
                        </label>
                        <p class="mt-1 text-xs text-[var(--text-secondary)]">Tamaño Máximo: 2MiB</p>
                    </div>
                </div>
            </div>
            <div>
                <label class="block text-sm font-medium text-[var(--text-primary)]" for="idRol">Rol</label>
                <div class="mt-1">
                    <span th:if="${#fields.hasErrors('idRol')}" th:errors="*{idRol}" class="text-red-400"></span>
                    <select class="form-select block w-full rounded-xl border-secondary-100 bg-secondary-50 text-[var(--text-secondary)] focus:border-primary-500 focus:ring-primary-500 sm:text-sm py-3 px-4" name="idRol" id="idRol" required="">
                        <option>Selecciona Rol</option>
                        <option th:each="rol : ${roles}" th:value="${rol.id}" th:text="${rol.nombre}" th:selected="${rol.id} == ${usuario.idRol}"></option>
                    </select>
                </div>
            </div>
            <div class="flex flex-col sm:flex-row-reverse gap-4 pt-4">
                <button class="flex w-full justify-center rounded-full border border-transparent bg-[var(--primary-color)] py-3 px-4 text-sm font-bold text-white shadow-sm hover:bg-green-600 transition-colors focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2" type="submit">
                    Guardar
                </button>
                <a th:href="@{/usuarioControl}" class="flex w-full justify-center rounded-full border border-secondary-100 bg-gray-100 text-slate-950 py-3 px-4 text-sm font-bold shadow-sm hover:bg-red-500 hover:text-white transition-colors focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2" type="button">
                    Cancelar
                </a>
            </div>
        </form>
        <script>
            const imagenInput = document.getElementById('img');
            const vistaPrevia = document.getElementById('preview');

            imagenInput.addEventListener('change', function (event) {
                const archivo = event.target.files[0];
                if (archivo) {
                    const lector = new FileReader();

                    lector.onload = function (e) {
                        vistaPrevia.src = e.target.result;
                        vistaPrevia.style.display = 'block';
                    };

                    lector.readAsDataURL(archivo);
                } else {
                    vistaPrevia.src = '#';
                    vistaPrevia.style.display = 'none';

                }
            });
        </script>
    </div>
</div>