<!DOCTYPE html>
<html  lang="es"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
       layout:decorate="/layouts/_mainLayout">

<div layout:fragment="content">
            <section class="relative w-full">
                <div class="absolute inset-0 bg-cover bg-center" style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBaaonlsYY08CfjypIQMGf_3SZhGYkSAGOuXC0XuWXgRKtLTXXi3pjaRMvCVSJ3u8vIaJ_rO9bYrHvs718WHpEtAKup1rkvAHB8zPjHDv6FVKWdiRkraRsucWAxm9MbkCNRSa5SQREUCTF5bQf6PX3paBvg4WAq_WXiKmhw6fBSf3XVmAGKxbpZMzJm-jQ9xSEfIZb8rTmhYnlnlngNMvjGn5WH0l_znjATUEEDXRnsukhbIjIa57ZjqFLo4ad3WEnCb7liNcs");'></div>
                <div class="absolute inset-0 bg-black/40"></div>
                <div class="relative z-10 mx-auto max-w-7xl px-4 py-32 sm:px-6 lg:px-8 text-center text-white">
                    <h1 class="text-5xl font-extrabold tracking-tight sm:text-6xl lg:text-7xl">Encuentra el lugar de tus sueños</h1>
                    <p class="mt-6 max-w-2xl mx-auto text-lg sm:text-xl">Explora hoteles de alta calidad, en lugares que ofrecen experiencias inolvidables.</p>
                    <div class="mt-10 max-w-2xl mx-auto">
                        <form class="flex items-center bg-white rounded-full shadow-lg p-2">

                            <input class="form-input w-full min-w-0 flex-1 resize-none border-none bg-transparent text-[var(--text-primary)] focus:outline-none focus:ring-0 text-lg placeholder:text-gray-500" placeholder="A dónde vamos?" type="text"/>
                            <button class="flex-shrink-0 ml-2 min-w-[100px] cursor-pointer rounded-full h-12 px-6 bg-[var(--primary-color)] text-white text-base font-bold tracking-[0.015em] hover:bg-green-500 transition-colors">
                                <div class="pl-4 pr-2 text-white-400">
                                    <svg fill="currentColor" height="24" viewBox="0 0 256 256" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                                    </svg>
                                </div>
                            </button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="py-16 sm:py-24">
                <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
                    <h2 class="text-3xl font-bold tracking-tight text-[var(--text-primary)] sm:text-4xl text-center">Destinos Populares</h2>
                    <div class="mt-12 grid gap-x-6 gap-y-12 sm:grid-cols-2 lg:grid-cols-3">
                        <div class="group">
                            <div class="w-full overflow-hidden rounded-lg">
                                <img alt="Coastal City" class="w-full h-64 object-cover group-hover:scale-105 transition-transform duration-300" src="https://lh3.googleusercontent.com/aida-public/AB6AXuBcP2Bedd41ji_XkIhI_cwmcHdz-VYFPmyEC_3gdgOizlQRrXnEC07rnLIGAE4TT8r1JBmqe66_ZRFTGLdCMDJ50t5QRmvn4TQrnzsv9Caz9GfJQtgkINbgrrvbaajQjC1uwZvfXNeoHfWWb1bibUV6CsHb0o9iJtpSaBMsmEto4bxZ0bYGJ1DA7gSDCYazbWp4BUScBygQ58DjuCMNgh00O77kS7RBmUiz6m-bReeyYB_gHK7MVlMzob5s55Ej1fh5EPoAO9Y"/>
                            </div>
                            <div class="mt-4">
                                <h3 class="text-xl font-semibold text-[var(--text-primary)]">El Zonte Beach</h3>
                                <p class="mt-1 text-[var(--text-secondary)]">Explora la vibrante plata El Zonte.</p>
                            </div>
                        </div>
                        <div class="group">
                            <div class="w-full overflow-hidden rounded-lg">
                                <img alt="Mountain Resort" class="w-full h-64 object-cover group-hover:scale-105 transition-transform duration-300" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCtxk5ydWbFz6QHJ2d4Qb7biR0YawPOW-IpM90wrvbA3R0VxUBmO1lh4ZjBK83q8cx_4OqxdcJi2el66eI3jmRLP_RdoqEGh_vQ3Sssm4gPXp2t8_yjfagryPw8VgCJoLk0D8xEM6msTDyIUToEWtV8ZDPUoohsW6TDr4BbbW_t8x8c_iH_U5VtyyV7V0-NCwwTllrjbqitTQ4v4sBkh0i7EgmKxnF0otPOfyFQTqkOvMd8gMUpegPqJiiGJbcOsQuaCkgAo7k"/>
                            </div>
                            <div class="mt-4">
                                <h3 class="text-xl font-semibold text-[var(--text-primary)]">Cerro El Pital</h3>
                                <p class="mt-1 text-[var(--text-secondary)]">Relajate con el ambiente tranquilo de El Pital.</p>
                            </div>
                        </div>
                        <div class="group">
                            <div class="w-full overflow-hidden rounded-lg">
                                <img alt="Tropical Beach" class="w-full h-64 object-cover group-hover:scale-105 transition-transform duration-300" src="https://lh3.googleusercontent.com/aida-public/AB6AXuCfx0TXmT1y0DOScpKHDlEGzC9oBR9s5wvzIIsgcsGzmmxzyLumXDyKGHAQNP7UNhWz3slAOiqlnBcl795BWZfVGgITfFihwUftpjes3x71e8GV13n4hDQj3uSytrfsA2bfbmgw88znxhvIz3G5cCq1THrWOuEluPPSC0EqufLd-SfLY7asxKkm6pxxdGRVlsdveXxakwNrlm5k2nb6WK7ydVFhJYj8o-tJgASfGrKMrAUHGKj7cBM9vvycYGAba7uSk09ziCs"/>
                            </div>
                            <div class="mt-4">
                                <h3 class="text-xl font-semibold text-[var(--text-primary)]">La Unión</h3>
                                <p class="mt-1 text-[var(--text-secondary)]">Descubre la belleza de las playas de La Unión.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>
